body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    background-color: #fc5c5c;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 20px;
    text-align: center;
}

button {
    background-color: #fc5c5c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px; /* Ajusta el valor según la cantidad de redondeo deseada */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,
.message {
    width: 95%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.message {
    resize: vertical;
    height: 120px;
}


footer {
    position: fixed;
    bottom: 0;
    background-color: #fc5c5c;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: 50px;
}