<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio · Mi Portafolio</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/styles.css">
    <script src="/script.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">Mi Portafolio</div>
            <ul class="menu">
                <li><a href="#" id="index">Inicio</a></li>
                <li><a href="#" id="projects">Proyectos</a></li>
                <li><a href="#" id="about">Acerca</a></li>
                <li><a href="#" id="contact">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h1>¡Hola!</h1>
        <p>Aquí puede explorar mis proyectos y saber más sobre mí.</p>
        <img src="/user-interface.png" alt="User Interface Image" width="250">
    </section>

    <footer>
        <p>&copy; 2023 Roberto David Morales Ramos</p>
    </footer>
</body>
</html>