<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/styles.css">
    <script src="/script.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">Mi Portafolio</div>
            <ul class="menu">
                <li><a href="#" id="index">Inicio</a></li>
                <li><a href="#" id="projects">Proyectos</a></li>
                <li><a href="#" id="about">Acerca</a></li>
                <li><a href="#" id="contact">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h1>Proyectos Destacados</h1>

        <div class="project">
            <h2>Anime List App</h2>
            <img src="/projects/anime-list-app.png" alt="Anime List App Icon" width="200">
            <p>Este proyecto de Android utiliza una API propia para acceder a los datos de animes almacenados en un servidor remoto con MongoDB Atlas. La API devuelve una lista de objetos JSON con la información de cada anime (Minimun SDK: API 23 - Android 6.0 Marshmallow).</p>
            <a href="https://github.com/davld7/AnimeList/releases/download/v1.0.2P/Anime.List.1.0.2P.apk" target="_blank">Descargar APK</a>
            <a href="https://github.com/davld7/AnimeList" target="_blank">Repositorio en GitHub</a>
        </div>

        <div class="project">
            <h2>Anime List API</h2>
            <img src="/projects/anime-list-api.png" alt="Anime List API Icon" width="200">
            <p>Este proyecto utiliza el framework FastAPI para crear una API en Python y acceder a los detalles de animes de una base de datos remota en MongoDB Atlas.</p>
            <a href="https://fastapi-1-v7692141.deta.app" target="_blank">Documentación de la API</a>
            <a href="https://github.com/davld7/fastapi" target="_blank">Repositorio en GitHub</a>
        </div>

    </section>

    <footer>
        <p>&copy; 2023 Roberto David Morales Ramos</p>
    </footer>
</body>
</html>